# Core API (FastAPI & Uvicorn)
fastapi
uvicorn
python-multipart
python-dotenv

# AI & LLM
google-generativeai
huggingface_hub

# Database & Data Processing
pandas
SQLAlchemy
psycopg2-binary
openpyxl
pyarrow>=12.0.1

# Utility & Standard
requests
python-dateutil
pytz
typing-extensions
certifi
click
setuptools
