fastapi
uvicorn
python-multipart
python-dotenv
python-jose[cryptography]
bcrypt
google-generativeai
huggingface_hub
pandas
SQLAlchemy
psycopg2-binary
openpyxl
pyarrow>=12.0.1
requests
python-dateutil
pytz
typing-extensions
certifi
click
setuptools
