Flask
flask-appbuilder
pandas
SQLAlchemy
Jinja2
numpy
pyarrow>=12.0.1
python-dateutil
pytz
geopy
WTForms>=3.0.1
Flask-WTF
marshmallow>=3.19.0
streamlit
streamlit-altair
werkzeug>=2.2.3
typing-extensions
requests
certifi
click
huggingface_hub
streamlit
python-dotenv
psycopg2-binary
st-pages
setuptools
openpyxl
